@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

a {
  font-weight: 600;
}
.menu li a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  text-decoration: underline;
}

a.active {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #f7c359 !important;
  font-weight: 700;
}
